# Ignore Terraform state files  
*.tfstate  
*.tfstate.backup  
# Ignore .terraform directory  
.terraform/  
.terraform/*
# Ignore provider binaries  
.terraform.lock.hcl  
terraform-provider-aws_*.exe  
